
	<div class="principal">


		<!--Progress-->
		<div class="bar-container">
	    <span class="myspan">Administrar > Asignaciones </span>
	  </div>
		<!--FIN progress-->

		<div style="height:2%">
			<span></span>
		</div>

		<div class="myBar">
			<!--<span>{{(opcion!="materia")?"Seleccione un "+ opcion : "Seleccione una "+ opcion}}</span>-->
			<span>Editar Asignaciones</span>
		</div>



<div class="tools" style="display:flex; flex-wrap:wrap">
	<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let option of arrayAsignaciones" [value]="option" >
    {{ option.id }}
  </mat-option>
</mat-autocomplete>
<mat-icon>storage</mat-icon>
<span>Herramienta de filtrado</span>
<span class="spacer"></span>
<div class="container-1">
	<select [(ngModel)]="nombre">Categoria de filtro
		<option  value="" disabled selected>Categoria de filtro</option>
  <option *ngFor="let cat of categorias" value="{{cat}}">{{cat}}</option>
</select>
</div>
	<div class="container-1">
		<mat-icon style="height:25px">search</mat-icon>
			<input type="search" style="margin:0px;border-radius:8px" placeholder="Filtrar"
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add()" [(ngModel)]="text"/>
				<mat-icon>close</mat-icon>
	</div>


</div>

<div class="myBar2">
	<mat-chip-list #chipList style="float:right">
		<mat-chip
				*ngFor="let filt of filts"
				[selectable]="selectable"
				[removable]="removable"
				(remove)="remove(filt)">
				{{filt.indicador}}:{{filt.text}}
				<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
			</mat-chip>
</mat-chip-list>
</div>


		<div *ngIf="qDone && aDone">
			<ul>
				<li class="myli" style="color:#0A351C"><span></span><span class="spacer"></span>Editar Todos<mat-icon (click)="editarTodos(arrayAsignaciones)" style="cursor:pointer;margin-left:5px">rate_review</mat-icon> </li>
				<mat-divider style="padding-bottom:1%"></mat-divider>
				<div *ngFor="let asignacion of arrayAsignaciones | filtros: filts: arrayCuestionarios as asigFiltered, let i=index" >
				<li class="myli" [ngClass]="getStyle(asignacion)" *ngIf="i>=pageEvent.pageIndex*pageEvent.pageSize && i<((pageEvent.pageIndex*pageEvent.pageSize)+pageEvent.pageSize)">
					{{getTexto(asignacion)}}
						<span class="spacer"></span><mat-icon (click)="openDialog(asignacion);myasignacion=asignacion.id" style="cursor:pointer">mode_edit</mat-icon>
				</li>
				<mat-divider style="padding-bottom:1%" *ngIf="i>=pageEvent.pageIndex*pageEvent.pageSize && i<((pageEvent.pageIndex*pageEvent.pageSize)+pageEvent.pageSize)"></mat-divider>

			</div>
			</ul>


		</div>
		<mat-paginator style="margin-right:10%" id="paginator" [length]="(arrayAsignaciones | filtros: filts: arrayCuestionarios).length"
			[pageSize]="(pageEvent)?pageEvent.pageSize:5"
			[pageSizeOptions]="[5, 10, 20, 50, 100]"
			(page)="pageEvent = $event">

		</mat-paginator>


		<div style="height:2%">
			<span></span>
		</div>


		<!-- aqui-->

		<!-- y aqui-->






	</div>
